<?xml version="1.0"?>
<packages>
    <package id="7zip" />
    <package id="ChocolateyGUI" />
    <package id="curl" />
    <package id="cwrsync" />
    <package id="dependencywalker" />
    <package id="dropbox" />
    <package id="ffmpeg" />
    <package id="golang" />
    <package id="GoogleChrome" />
    <package id="GoogleJapaneseInput" />
    <package id="git.install" />
    <package id="gpu-z" />
    <package id="hg" />
    <package id="jdk8" />
    <package id="meld" />
    <package id="stexbar" />
    <package id="potplayer" />
    <package id="pushbullet" />
    <package id="python3" />
    <package id="sharpkeys" />
    <package id="SourceTree" />
    <package id="sublimetext3" />
    <package id="svn" />
    <package id="sysinternals" />
    <package id="teraterm" />
    <package id="truecrypt" />
    <package id="truecrypt-langfiles" />
    <package id="vagrant" />
    <package id="vim" />
    <package id="virtualbox" />
</packages>

<!-- When upgrade, try 'chocolatey list -localonly' -->
<!-- Disabled packages -->
<!--    
    <package id="autohotkey" />
    <package id="evernote" />
    <package id="iTunes" />
    <package id="libreoffice" />
    <package id="openssh" />
-->
